{% import 'project/apps/back_end/forms/form.twig' as form %}

<script>
	$(function() {
		$("a, button, input:submit", ".import-options").button({
			icons: {
		    	primary: 'ui-icon-circle-arrow-n'
		}});
	});
</script>

<form enctype="multipart/form-data" method="POST" action="">
	<div class="ui-widget-content nano-admin-widget import-options ui-corner-all">
		<h3 class="ui-widget-header ui-corner-all">{{ 'admin.model-import' | i18n('Import') }}</h3>
				{% if isSaved == true %}
				<div class="ui-state-highlight nano-admin-state-highlight ui-corner-all">File has been successfully imported</div>
				{% endif %}

				{% for key, value in importErrors %}
				<div class="ui-state-error nano-admin-state-error ui-corner-all">{{ value }}</div>
				{% endfor %}

				<table cellpadding="5">
					{% for key, params in importForm %}
						<tr>
							<td valign="top">{{ form.adminLabel(params.label) }}</td>
							<td valign="top">{{ form.buildAdminForm(params) }}</td>
						</tr>
					{% endfor %}
					<tr>
						<td>&nbsp;</td>
						<td align="right">{{ form.adminButton(importButton) }}</td>
					</tr>
				</table>
			</div>
	</div>
</form>