<div class="ui-widget-content nano-admin-widget ui-corner-all">
	<h3 class="ui-widget-header ui-corner-all">Admin Home</h3>
	{% for databaseName, models in menu %}
		{% for modelName, modelNiceName in models %}
			<div class="ui-widget-content nano-admin-widget ui-corner-all" style="padding:10px;background:#FFFFFF">
				<div style="margin-bottom:10px">{{ ('admin.menu.title.' ~ databaseName ~ '.' ~ modelName) | i18n(modelNiceName) }}</div>
				<div style="margin-bottom:10px"><div class="ui-icon ui-icon-carat-1-e" style="float:left"></div><a href="/{{ databaseName }}/{{ modelName }}/add">{{ ('admin.menu.add.' ~ databaseName ~ '.' ~ modelName) | i18n('Add ' ~ modelNiceName) }}</a></div>
				<div style="margin-bottom:10px"><div class="ui-icon ui-icon-carat-1-e" style="float:left"></div><a href="/{{ databaseName }}/{{ modelName }}/list">{{ ('admin.menu.list.' ~ databaseName ~ '.' ~ modelName) | i18n('List ' ~ modelNiceName) }}</a></div>
				<div style="margin-bottom:10px"><div class="ui-icon ui-icon-carat-1-e" style="float:left"></div><a href="/{{ databaseName }}/{{ modelName }}/export">{{ ('admin.menu.export.' ~ databaseName ~ '.' ~ modelName) | i18n('Export ' ~ modelNiceName) }}</a></div>
				<div style="margin-bottom:10px"><div class="ui-icon ui-icon-carat-1-e" style="float:left"></div><a href="/{{ databaseName }}/{{ modelName }}/import">{{ ('admin.menu.import.' ~ databaseName ~ '.' ~ modelName) | i18n('Import ' ~ modelNiceName) }}</a></div>
			</div>
		{% endfor %}
	{% endfor %}
</div>