<script>
$(function() {
	$("#menu-accordion").accordion({ collapsible: true, navigation: true, icons: { 'header': 'ui-icon-carat-1-e', 'headerSelected': 'ui-icon-carat-1-s' }});
	$("#super-admin-menu-accordion").accordion({ collapsible: true, navigation: true, icons: { 'header': 'ui-icon-carat-1-e', 'headerSelected': 'ui-icon-carat-1-s' }});
});
</script>

<div class="ui-widget-content nano-admin-widget-left-menu ui-corner-all">
	<h3 class="ui-widget-header ui-corner-all">{{ 'admin.menu' | i18n('Menu') }}</h3>
	<div id="menu-accordion">
	{% for databaseName, models in menu %}
		{% for modelName, modelNiceName in models %}
			<div><a href="/{{ databaseName }}/{{ modelName }}">{{ ('admin.menu.title.' ~ databaseName ~ '.' ~ modelName) | i18n(modelNiceName) }}</a></div>
			<div>
				<p>
					<div style="margin-bottom:10px"><div class="ui-icon ui-icon-carat-1-e" style="float:left"></div><a href="/{{ databaseName }}/{{ modelName }}/add">{{ ('admin.menu.add.' ~ databaseName ~ '.' ~ modelName) | i18n('Add ' ~ modelNiceName) }}</a></div>
					<div style="margin-bottom:10px"><div class="ui-icon ui-icon-carat-1-e" style="float:left"></div><a href="/{{ databaseName }}/{{ modelName }}/list">{{ ('admin.menu.list.' ~ databaseName ~ '.' ~ modelName) | i18n('List ' ~ modelNiceName) }}</a></div>
					<div style="margin-bottom:10px"><div class="ui-icon ui-icon-carat-1-e" style="float:left"></div><a href="/{{ databaseName }}/{{ modelName }}/export">{{ ('admin.menu.export.' ~ databaseName ~ '.' ~ modelName) | i18n('Export ' ~ modelNiceName) }}</a></div>
					<div style="margin-bottom:10px"><div class="ui-icon ui-icon-carat-1-e" style="float:left"></div><a href="/{{ databaseName }}/{{ modelName }}/import">{{ ('admin.menu.import.' ~ databaseName ~ '.' ~ modelName) | i18n('Import ' ~ modelNiceName) }}</a></div>
				</p>
			</div>
		{% endfor %}
	{% endfor %}
	</div>
</div>

<div class="ui-widget-content nano-admin-widget-left-menu ui-corner-all">
	<h3 class="ui-widget-header ui-corner-all">{{ 'admin.actions' | i18n('Actions') }}</h3>
	<div style="margin-bottom:10px"><div class="ui-icon ui-icon-carat-1-e" style="float:left"></div><a href="/logout">{{ 'admin.actions.logout' | i18n('Logout') }}</a></div>
</div>