{% block outer_script %}
<script>
	{% block inner_script %}
	$(function() {
		$( "a, input:submit", ".list-view-item" ).button({
			icons: {
		    	primary: 'ui-icon-circle-zoomin'
		}});
		$( "a, input:submit", ".list-edit-item" ).button({
			icons: {
			    primary: 'ui-icon-document',
				secondary: 'ui-icon-trash'
		}});
	});
	{% endblock inner_script %}
</script>
{% endblock outer_script %}

<div style="padding:0px" class="ui-widget-content nano-admin-widget ui-corner-all">
	<h3 style="margin:8px" class="ui-widget-header ui-corner-all">{{ 'admin.list-view' | i18n('List View') }}</h3>
	<input id="orderby-field" name="orderby[field]" type="hidden" value="{{ orderByField }}" />
	<input id="orderby-order" name="orderby[order]" type="hidden" value="{{ orderByOrder }}" />
	{% block main_table_construct %}
	<table cellspacing="0" cellpadding="5" border="0" width="100%">
	{% endblock main_table_construct %}
		{% if displayItems | length == 0 %}
			<tr class="nano-admin-list-tr odd">
				<td colspan="{{ (fieldNames | length) + 1 }}"><div style="padding:40px;text-align:center"><strong>{{ 'admin.display-list.no-results-found' | i18n('No Results Found') }}</strong></div></td>
			</tr>
		{% else %}
			<tr>
				{% for key, value in fieldNames %}
				<td>
					{% if loop.first %}
						<div style="padding-left:5px">
					{% endif %}
							<a href="javascript:;" onclick="NJSCORE.Admin.applySort('{{ key }}','allInputs')"><strong>{{ value }}</strong></a>{% if key == orderByField %}{% if orderByOrder == 'asc' %}<div class="ui-icon ui-icon-circle-triangle-n" style="float:left;margin-right:8px"></div>{% else %}<div class="ui-icon ui-icon-circle-triangle-s" style="float:left;margin-right:8px"></div>{% endif %}</span>{% endif %}
					{% if loop.first %}
						</div>
					{% endif %}
				</td>
				{% endfor %}
				{% block actions_title %}
				<td><strong>{{ 'admin.display-list.actions' | i18n('Actions') }}</strong></td>
				{% endblock actions_title %}
			</tr>
			{% for key, displayItem in displayItems %}
			{% if (loop.index % 2) == 0 %}
			<tr class="nano-admin-list-tr even">
			{% else %}
			<tr class="nano-admin-list-tr odd">
			{% endif %}
				{% for key, value in displayItem %}
					{% if fieldNames[key] %}
						{% block row %}
							{% if loop.first %}
							<td><div style="min-width:50px;padding-left:5px">{{ value | strcap(40) }}</div></td>
							{% else %}
							<td><div style="min-width:50px">{{ value | strcap(40) }}</div></td>
							{% endif %}
						{% endblock row %}
					{% endif %}
				{% endfor %}
				<td>
					{% block actions %}
					<div style="font-size:0.9em" class="list-actions">
						<span class="list-view-item">
							<a href="javascript:;" onclick="NJSCORE.LightBox.ajaxLoad('/ajax/{{ databaseName }}/{{ modelName }}/view?ids={{ displayItem.___pks }}')">{{ 'admin.display-list.view' | i18n('View') }}</a>
						</span>&nbsp;
						<span class="list-edit-item">
							<a href="/{{ databaseName }}/{{ modelName }}/edit?ids={{ displayItem.___pks }}">{{ 'admin.display-list.edit-and-delete' | i18n('Edit & Delete') }}</a>
						</span>
					</div>
					{% endblock actions %}
				</td>
			</tr>
			{% endfor %}
		{% endif %}
	</table>
	{% if displayItems | length != 0 %}
	<div style="text-align:center;padding:20px">
		<input id="page" name="page" type="hidden" value="{{ currentPage }}" />
		{% if showPrevious == true %}
			&lt; <a href="javascript:;" onclick="NJSCORE.Admin.setValueAndSubmitForm('page','{{ previousPage }}','allInputs')"><strong>{{ 'admin.display-list.previous' | i18n('Previous') }}</strong></a>
		{% else %}
			&lt; {{ 'admin.display-list.previous' | i18n('Previous') }}
		{% endif %}
		|
		{% if showNext == true %}
			<a href="javascript:;" onclick="NJSCORE.Admin.setValueAndSubmitForm('page','{{ nextPage }}','allInputs')"><strong>{{ 'admin.display-list.next' | i18n('Next') }}</strong></a> &gt;
		{% else %}
			{{ 'admin.display-list.next' | i18n('Next') }} &gt;
		{% endif %}
	</div>
	{% else %}
	<div style="text-align:center;padding:5px">&nbsp;</div>
	{% endif %}
</div>