{% import 'project/apps/back_end/forms/form.twig' as form %}

{% block outer_script %}
<script>
	{% block inner_script %}
	$(function() {
		$( "button, input:submit", ".edit-options" ).button({
			icons: {
		    	primary: 'ui-icon-circle-arrow-s'
		}}).next().button({
			icons: {
			    primary: 'ui-icon-circle-arrow-s',
				secondary: 'ui-icon-circle-zoomin'
		}});
		$( "button, input:submit", ".delete-options" ).button({
			icons: {
		    	primary: 'ui-icon-trash'
		}});
		$(".form-radio-group-container").buttonset();
	});
	{% endblock inner_script %}
</script>
{% endblock outer_script %}

{% block form_construct %}
<form enctype="multipart/form-data" method="POST" action="">
{% endblock form_construct %}
	<div class="ui-widget-content nano-admin-widget edit-options ui-corner-all">
		<h3 class="ui-widget-header ui-corner-all">{{ 'admin.edit' | i18n('Edit Record') }}</h3>
		
		{% if isSaved == true %}
		<div class="ui-state-highlight nano-admin-state-highlight ui-corner-all">{{ 'admin.edit.record.updated' | i18n('Record Updated') }}</div>
		{% endif %}
		
		{% for key, value in editErrors %}
		<div class="ui-state-error nano-admin-state-error ui-corner-all">{{ value }}</div>
		{% endfor %}
		
		<table cellpadding="5">
			{% if editForm %}
				{% for key, params in editForm %}
					{% block row %}
					<tr>
						<td valign="top">{{ form.adminLabel(params.label) }}</td>
						<td valign="top">{{ form.buildAdminForm(params) }}</td>
					</tr>
					{% endblock row %}
				{% endfor %}
				{% block buttons %}
				<tr>
					<td>&nbsp;</td>
					<td align="right">{{ form.adminButton(editButton) }}{{ form.adminButton(editAndPreviewButton) }}</td>
				</tr>
				{% endblock buttons %}
			{% endif %}
		</table>
	</div>
	{% block delete %}
		{% if editForm %}
		<div class="ui-widget-content nano-admin-widget delete-options ui-corner-all">
			<h3 class="ui-widget-header ui-corner-all">{{ 'admin.delete-record' | i18n('Delete Record') }}</h3>
			<div style="margin-top:15px">{{ delete }}</div>
		</div>
		{% endif %}
	{% endblock delete %}
</form>